<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/TamilNadu_Logo.png" alt="Tamil Nadu Logo" class="logo" />
    
    <div class="navbar-title-section">
      <div class="govt-title">Government of Tamil Nadu</div>
      <div class="portal-title">Policy Portal</div>
    </div>

    <ul class="menu">
      <li 
        *ngFor="let item of navItems" 
        (click)="toggleDropdown(item.label, $event)"
        [class.active]="hoveredDropdown === item.label"
      >
        {{ item.label }}
        <span *ngIf="item.hasDropdown" class="arrow">▼</span>

        <!-- CARD PANEL -->
        <div
          class="dropdown-panel dropdown-content"
          *ngIf="hoveredDropdown === item.label && isCardPanel(item.panelItems)"
        >
          <div class="panel-grid">
            <div 
              class="panel-card" 
              *ngFor="let p of item.panelItems"
              [style.backgroundImage]="'url(' + p.icon + ')'"
              (click)="onPanelCardClick(p); $event.stopPropagation()"
              role="button"
            >
              <div class="card-content">
                <div class="card-header">
                  <h3>{{ p.title }}</h3>
                  <span class="arrow-right">➜</span>
                </div>
                <p>{{ p.desc }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- LIST PANEL -->
        <div
          class="states-panel dropdown-content"
          *ngIf="hoveredDropdown === item.label && isListPanel(item.panelItems)"
        >
          <h3 class="panel-title">Explore {{ item.label }}</h3>

          <div class="states-grid-4rows">
            <div class="state-item" *ngFor="let s of item.panelItems">
              {{ s }}
              <span class="right-arrow">➜</span>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <button class="login-btn" (click)="openLogin($event)">Login</button>
  </div>
</nav>
